<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Add Exchange Rate
  body
    a(href="/") List
    form(method="post" action="/add")
      select(name="symbol")
        for item in data
          option(value=item) #{item}
      input(type="number" name="rate" placeholder="amount" step="any" required)
      input(type="submit", value="Submit")